# Byte-compiled / optimized / DLL files
__pycache__/

# Coverage output
.coverage

# Virtual Environment
venv
.venv/

# pytest files
.pytest_cache/

# vs code
*.vscode

# python
*.pyc

*.idea

*.log

.mypy_cache

#env 
.env